#friendsContainer {
  width: 15%;
  min-height: 90%;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  background-color: #d3e4f4;
}
.friendsTitle {
  width: 100%;
  color: #146ab1;
  height: 2em;
}
.friendsCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  background-color: #f0f5f9;
}
.friendInfo {
  margin-top: 0.5em;
  width: 45%;
  min-height: 60%;
}
.friendInfo img {
  width: 100%;
  height: 80%;
}
.friendInfo p {
  color: #146ab1;
}
